h1 {
    color: white;
   }
   p {
    color: white;
   }

body {
    font-family: Georgia,Times,Times New Roman,serif; 
    padding: 30px;
  }
h2{
  color: bisque;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(46, 12, 12, 0.664);
  
}
.button{
  background-color: blueviolet;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: large;
  text-align: right;
  margin-left: 20px;
  color: aquamarine;
}
.home{
  background-color: blueviolet;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: large;
  margin-left: 945px;
  color: aquamarine;
}
.school{
  color: beige;
  margin-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}
img{
  margin-left: 20px;
}