h1 {
    color: white;
   }
   p {
    color: white;
   }

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
   }

body {

    background-image: linear-gradient(45deg, red ,  purple );
  
  }a   
